*~
*___*
*.bak
cscope.*
.DS_Store
*.kdev4
*.log
nbproject/*
.settings/*
.svn
.idea/
*.pro
*.pro.user
callgrind.*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
Makefile-*
.dep.inc
*.so
*.o
*.a

bin/*
external/*
debug/*
release/*

!tmp/readelf.txt
!tmp/nm.txt

!CMakeLists.txt
!.gitignore
